# Chicago Public School Data Analytics using IBM Watson Cloud Analytics

![5](https://patrickdolloso.files.wordpress.com/2018/11/safety-score-heat-map-on-chicago-public-schools-2011-2012.png)

## Overview
* Author: Patrick Dolloso
* Date: Nov 15 2018
* Email: patrick.dolloso@gmail.com
* Mobile: +1 (647) 499-1946
* Source Code is Hosted on my Github portfolio:

## Executive Summary
This Jupyter Notebook presents Data Analytics performed on a dataset released by the City of Chicago using various industry-standard open-source software deployed in the IBM Watson Cloud environment

## The Data: Chicago Public Schools - Progress Report Cards (2011-2012)  
![1](https://data.cityofchicago.org/api/assets/73F1665C-0FE6-4183-8AD1-E91DB8EFAFA4?7CB02402-8E06-48B0-8C9A-3890182D58C7.png)
* The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t
* This dataset includes a large number of metrics as outlinedin the pdf file below: https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true
* A data-mined static dataset was obtained using OpenRefine and is stored in the IBM Cloud:
https://ibm.box.com/shared/static/0g7kbanvn5l2gt2qu38ukooatnjqyuys.csv

## Software & Technologies Used:
* Documentation: Jupyter Notebooks, Markdown-LaTeX
* Data-Mining & Cleaning: OpenRefine
* Database management system: MySQL and DB2 on IBM Cloud
* Quantitative Analytics: Python libraries - Numpy, pandas
* Data Visualization: Python libraries Matplotlib
* Local Programming & Debugging: VS-Code
* Cloud Deployment: IBM Watson Studio, IBM Cloud

### Python Setup: Datamining the Chicago database using pandas library
Create a database service instance of Db2 on Cloud and retrieve your database credentials.

In [2]:
import pandas
CHICAGO_PUBLIC_SCHOOLS = pandas.read_csv('https://ibm.box.com/shared/static/0g7kbanvn5l2gt2qu38ukooatnjqyuys.csv')

### Import the `ibm_db` Python library to the IBM Cloud Database API

The `ibm_db` [API ](https://pypi.python.org/pypi/ibm_db/) provides a variety of useful Python functions for accessing and manipulating data in an IBMÂ® data server database, including functions for connecting to a database, preparing and issuing SQL statements, fetching rows from result sets, calling stored procedures, committing and rolling back transactions, handling errors, and retrieving metadata.


We first import the ibm_db library into our Python Application

Execute the following cell by clicking within it and then 
press shift and enter keys simultaneously

In [3]:
import ibm_db

When the command above completes, the `ibm_db` library is loaded in your notebook. 


## Identify the database connection credentials

Connecting to dashDB or DB2 database requires the following information:
* Driver Name
* Database name 
* Host DNS name or IP address 
* Host port
* Connection protocol
* User ID (or username)
* User Password



__Notice:__ To obtain credentials please refer to the instructions given in the first Lab of this course

Now enter your database credentials below

Replace the placeholder values in angular brackets <> below with your actual database credentials 

e.g. replace "< database >" with "BLUDB"

### SQL Setup: Connect to Cloud-hosted Database
* Load ipython-sql extansion and establish connection to database hosted on IBM cloud:

In [4]:
%load_ext sql

In [5]:
# Entering connection string for the MySQL Database hosted on 
# IBM Cloud database instance below:
%sql ibm_db_sa://dqb83907:n34ng10nl7fq%5Ebpb@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB

'Connected: dqb83907@BLUDB'

### Querying database system catalog to retrieve table metadata
* This is to verify that data-mined SQL database was successfully created on the Cloud:

In [6]:
# SQL query to retrieve list of all tables in the database for your db2 schema (username)
%sql select * from SYSCAT.TABLES where TABNAME = 'DQB83907'

 * ibm_db_sa://dqb83907:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[]

### Querying the database system catalog to retrieve column metadata
* This is to verify How many columns does this table have?

In [7]:
%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'CHICAGO_PUBLIC_SCHOOLS'

 * ibm_db_sa://dqb83907:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('79'),)]

* Therefore, we know that there are 79 attributes in this table. We can query the column names to find out what are the data categories available for analyzing:

In [8]:
%sql select distinct(NAME), COLTYPE, LENGTH from SYSIBM.SYSCOLUMNS where TBNAME = 'CHICAGO_PUBLIC_SCHOOLS'

 * ibm_db_sa://dqb83907:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('10th Grade PLAN (2009)', 'VARCHAR ', 4),
 ('10th Grade PLAN (2010)', 'VARCHAR ', 4),
 ('11th Grade Average ACT (2011)', 'VARCHAR ', 4),
 ('9th Grade EXPLORE (2009)', 'VARCHAR ', 4),
 ('9th Grade EXPLORE (2010)', 'VARCHAR ', 4),
 ('ADEQUATE_YEARLY_PROGRESS_MADE_', 'VARCHAR ', 3),
 ('AVERAGE_STUDENT_ATTENDANCE', 'VARCHAR ', 5),
 ('AVERAGE_TEACHER_ATTENDANCE', 'VARCHAR ', 5),
 ('CITY', 'VARCHAR ', 7),
 ('COLLABORATIVE_NAME', 'VARCHAR ', 34),
 ('COLLEGE_ELIGIBILITY__', 'VARCHAR ', 4),
 ('COLLEGE_ENROLLMENT_RATE__', 'VARCHAR ', 4),
 ('COLLEGE_ENROLLMENT__NUMBER_OF_STUDENTS_', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NAME', 'VARCHAR ', 22),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('CPS_PERFORMANCE_POLICY_LEVEL', 'VARCHAR ', 15),
 ('CPS_PERFORMANCE_POLICY_STATUS', 'VARCHAR ', 16),
 ('ENVIRONMENT_ICON', 'VARCHAR ', 11),
 ('ENVIRONMENT_SCORE', 'SMALLINT', 2),
 ('Elementary, Middle, or High School', 'VARCHAR ', 2),
 ('FAMILY_INVOLVEMENT_ICON', 'VARCHAR ', 11),
 ('FAMILY_INVOLVEMENT_SCORE', 'VARCHAR ', 3),
 ('FRESHMAN_ON_TRACK_RATE__', 'VARCHAR ', 4),
 ('GENERAL_SERVICES_ROUTE', 'SMALLINT', 2),
 ('GRADUATION_RATE__', 'VARCHAR ', 4),
 ('Gr3_5_Grade_Level_Math__', 'VARCHAR ', 4),
 ('Gr3_5_Grade_Level_Read__', 'VARCHAR ', 4),
 ('Gr3_5_Keep_Pace_Math__', 'VARCHAR ', 4),
 ('Gr3_5_Keep_Pace_Read__', 'VARCHAR ', 4),
 ('Gr6_8_Grade_Level_Math__', 'VARCHAR ', 4),
 ('Gr6_8_Grade_Level_Read__', 'VARCHAR ', 4),
 ('Gr6_8_Keep_Pace_Math_', 'VARCHAR ', 4),
 ('Gr6_8_Keep_Pace_Read__', 'VARCHAR ', 4),
 ('Gr_8_Explore_Math__', 'VARCHAR ', 4),
 ('Gr_8_Explore_Read__', 'VARCHAR ', 4),
 ('HEALTHY_SCHOOLS_CERTIFIED_', 'VARCHAR ', 3),
 ('INDIVIDUALIZED_EDUCATION_PROGRAM_COMPLIANCE_RATE', 'VARCHAR ', 6),
 ('INSTRUCTION_ICON', 'VARCHAR ', 11),
 ('INSTRUCTION_SCORE', 'SMALLINT', 2),
 ('ISAT_EXCEEDING_MATH__', 'DECIMAL ', 4),
 ('ISAT_EXCEEDING_READING__', 'DECIMAL ', 4),
 ('ISAT_VALUE_ADD_COLOR_MATH', 'VARCHAR ', 6),
 ('ISAT_VALUE_ADD_COLOR_READ', 'VARCHAR ', 6),
 ('ISAT_VALUE_ADD_MATH', 'DECIMAL ', 3),
 ('ISAT_VALUE_ADD_READ', 'DECIMAL ', 3),
 ('LATITUDE', 'DECIMAL ', 18),
 ('LEADERS_ICON', 'VARCHAR ', 11),
 ('LEADERS_SCORE', 'VARCHAR ', 3),
 ('LINK', 'VARCHAR ', 78),
 ('LOCATION', 'VARCHAR ', 27),
 ('LONGITUDE', 'DECIMAL ', 18),
 ('NAME_OF_SCHOOL', 'VARCHAR ', 64),
 ('NETWORK_MANAGER', 'VARCHAR ', 40),
 ('NET_CHANGE_EXPLORE_AND_PLAN', 'VARCHAR ', 3),
 ('NET_CHANGE_PLAN_AND_ACT', 'VARCHAR ', 3),
 ('PARENT_ENGAGEMENT_ICON', 'VARCHAR ', 7),
 ('PARENT_ENGAGEMENT_SCORE', 'VARCHAR ', 3),
 ('PARENT_ENVIRONMENT_ICON', 'VARCHAR ', 7),
 ('PARENT_ENVIRONMENT_SCORE', 'VARCHAR ', 3),
 ('PHONE_NUMBER', 'VARCHAR ', 14),
 ('POLICE_DISTRICT', 'SMALLINT', 2),
 ('Pk_2_Literacy__', 'VARCHAR ', 4),
 ('Pk_2_Math__', 'VARCHAR ', 4),
 ('RCDTS_CODE', 'BIGINT  ', 8),
 ('Rate_of_Misconducts__per_100_students_', 'DECIMAL ', 5),
 ('SAFETY_ICON', 'VARCHAR ', 11),
 ('SAFETY_SCORE', 'SMALLINT', 2),
 ('SCHOOL_ID', 'INTEGER ', 4),
 ('STATE', 'VARCHAR ', 2),
 ('STREET_ADDRESS', 'VARCHAR ', 30),
 ('STUDENTS_PASSING__ALGEBRA__', 'VARCHAR ', 4),
 ('STUDENTS_TAKING__ALGEBRA__', 'VARCHAR ', 4),
 ('TEACHERS_ICON', 'VARCHAR ', 11),
 ('TEACHERS_SCORE', 'VARCHAR ', 3),
 ('TRACK_SCHEDULE', 'VARCHAR ', 12),
 ('WARD', 'SMALLINT', 2),
 ('X_COORDINATE', 'DECIMAL ', 13),
 ('Y_COORDINATE', 'DECIMAL ', 13),
 ('ZIP_CODE', 'INTEGER ', 4)]

* These are the various data which was collected from the city of Chicago
## Quantitative Analytics & Visualization
* We can now perform some quantitative analytics for key metrics to visualize
### 1. What are the top 10 Schools with the highest "Average Student Attendance"?

In [9]:
%sql select "NAME_OF_SCHOOL", "AVERAGE_STUDENT_ATTENDANCE" \
    from CHICAGO_PUBLIC_SCHOOLS \
    order by "AVERAGE_STUDENT_ATTENDANCE" desc fetch first 10 rows only

 * ibm_db_sa://dqb83907:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('Velma F Thomas Early Childhood Center', None),
 ('John Charles Haines Elementary School', '98.4%'),
 ('James Ward Elementary School', '97.8%'),
 ('Edgar Allan Poe Elementary Classical School', '97.6%'),
 ('Rachel Carson Elementary School', '97.6%'),
 ('Orozco Fine Arts & Sciences Elementary School', '97.6%'),
 ('Annie Keller Elementary Gifted Magnet School', '97.5%'),
 ('Andrew Jackson Elementary Language Academy', '97.4%'),
 ('Lenart Elementary Regional Gifted Center', '97.4%'),
 ('Disney II Magnet School', '97.3%')]

### 2. What are the 5 schools with the lowest average student attendance sorted in ascending order?

In [10]:
%sql select "NAME_OF_SCHOOL", "AVERAGE_STUDENT_ATTENDANCE" \
    from CHICAGO_PUBLIC_SCHOOLS \
    order by "AVERAGE_STUDENT_ATTENDANCE" \
    fetch first 5 rows only

 * ibm_db_sa://dqb83907:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('Richard T Crane Technical Preparatory High School', '57.9%'),
 ('Barbara Vick Early Childhood & Family Center', '60.9%'),
 ('Dyett High School', '62.5%'),
 ('Wendell Phillips Academy High School', '63.0%'),
 ('Orr Academy High School', '66.3%')]

### 3. Which schools have an average student attendance lower than 70%?

In [11]:
%sql select "NAME_OF_SCHOOL", "AVERAGE_STUDENT_ATTENDANCE" \
    from CHICAGO_PUBLIC_SCHOOLS \
    where CAST(REPLACE("AVERAGE_STUDENT_ATTENDANCE", '%', '') AS DOUBLE) < 70 \
    order by "AVERAGE_STUDENT_ATTENDANCE"

 * ibm_db_sa://dqb83907:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('Richard T Crane Technical Preparatory High School', '57.9%'),
 ('Barbara Vick Early Childhood & Family Center', '60.9%'),
 ('Dyett High School', '62.5%'),
 ('Wendell Phillips Academy High School', '63.0%'),
 ('Orr Academy High School', '66.3%'),
 ('Manley Career Academy High School', '66.8%'),
 ('Chicago Vocational Career Academy High School', '68.8%'),
 ('Roberto Clemente Community Academy High School', '69.6%')]

### 4. What are the 5 Community Areas wit hthe least total College Enrollment number of students (Sorted in ascending order)?

In [12]:
%sql select "COMMUNITY_AREA_NAME", SUM("COLLEGE_ENROLLMENT__NUMBER_OF_STUDENTS_") \
    as TOTAL_ENROLLMENT from CHICAGO_PUBLIC_SCHOOLS \
    group by "COMMUNITY_AREA_NAME" \
    order by TOTAL_ENROLLMENT \
    limit 5

 * ibm_db_sa://dqb83907:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('OAKLAND', 140),
 ('FULLER PARK', 531),
 ('BURNSIDE', 549),
 ('OHARE', 786),
 ('LOOP', 871)]

## Data Visualization

In [48]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

### 1. How does Average Attendance affect Graduation Rate (%)?

In [52]:
Attendance = %sql select CAST(REPLACE("AVERAGE_STUDENT_ATTENDANCE", '%', '') AS DOUBLE) from CHICAGO_PUBLIC_SCHOOLS order by "AVERAGE_STUDENT_ATTENDANCE";
Graduation = %sql select CAST(REPLACE("GRADUATION_RATE__", '%', '') AS DOUBLE) from CHICAGO_PUBLIC_SCHOOLS order by "GRADUATION_RATE__";
sns.set(style="white")

 * ibm_db_sa://dqb83907:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.
 * ibm_db_sa://dqb83907:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

![1](https://patrickdolloso.files.wordpress.com/2018/11/chicago-public-school-data-2011-2012-avg-attendance-vs-graduation-rate.png)

* We can see from the above visualization, the higher the average student attendance correlates to a higher graduation rate
### 2. How do Safety Scores affect Graduation Rates?

In [57]:
SafetyScore = %sql select "SAFETY_SCORE" from CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://dqb83907:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

![2](https://patrickdolloso.files.wordpress.com/2018/11/safety-score-heat-map-on-attendance-vs-graduation-rate-in-chicago-public-schools-2011-2012.png)

* As we can see, the higher Safety score is concentrated within the higher levels of attendance and graduation rates

### 4. Where in Chicago are the Safety Scores most lowest?

![4](https://patrickdolloso.files.wordpress.com/2018/11/safety-score-heat-map-on-chicago-public-schools-2011-2012.png)

* As we can see, by using the street names and a satelite image integrated map, with the safety scores, we can see that the highest concentration of dangerous areas are in the southen part of Chicago